In [26]:
from analysis.analysis import create_analysis
from analysis.pipeline import create_pipeline
from analysis.stages import BooleanSummary, ClassifyColumns, FormatData, NumericalSummary, CategoricalSummary, Correlation



import pandas as pd

In [27]:
test_data = pd.DataFrame(
    {
        "accuracy": [True, True, False, True],
        "reactionTime": [504, 386, 372, 489],
        "primerDir": ["right", "right", "right", "right"],
        "topFlankerDir": ["left", "right", "right", "left"],
        "bottomFlankerDir": ["right", "right", "left", "right"],
    }
)
categorical_columns = ["primerDir", "topFlankerDir", "bottomFlankerDir"]

for col in categorical_columns:
    test_data[col] = test_data[col].astype("category")

In [28]:
test_data

   accuracy  reactionTime primerDir topFlankerDir bottomFlankerDir
0      True           504     right          left            right
1      True           386     right         right            right
2     False           372     right         right             left
3      True           489     right          left            right

In [29]:
test_data.dtypes

accuracy                bool
reactionTime           int64
primerDir           category
topFlankerDir       category
bottomFlankerDir    category
dtype: object

In [22]:
preprocessor = (
    create_pipeline()
    .add_stage(FormatData)
    .add_stage(ClassifyColumns)
)

descriptive_analysis = (
    create_pipeline()
    .add_stage(ClassifyColumns)
    .add_stage(NumericalSummary)
    .add_stage(BooleanSummary)
    .add_stage(CategoricalSummary)
)


distribution_analysis = (create_pipeline())
intervariable_analysis = (create_pipeline().add_stage(Correlation))

analysis = (create_analysis()
            .add_preprocessor(preprocessor)
            .add_pipeline(descriptive_analysis)
            .add_pipeline(distribution_analysis)
            .add_pipeline(intervariable_analysis))

arrow_game_analysis = analysis.run(test_data)

In [25]:
test_data.dtypes

accuracy                bool
reactionTime           int64
primerDir           category
topFlankerDir       category
bottomFlankerDir    category
dtype: object

In [15]:
arrow_game_analysis["summary"]["numerical"]

       reactionTime
count      4.000000
mean     437.750000
std       68.353859
min      372.000000
25%      382.500000
50%      437.500000
75%      492.750000
max      504.000000

In [16]:
arrow_game_analysis["summary"]["boolean"]

      accuracy
mean      0.75
std       0.50

In [17]:
arrow_game_analysis["summary"]["categorical"]

       primerDir  topFlankerDir  bottomFlankerDir
left         NaN            0.5              0.25
right        1.0            0.5              0.75

In [18]:
arrow_game_analysis["intervariable"]["correlation"]

              reactionTime
reactionTime           1.0